/*.clockHand {
position: absolute;
top: 0;
left: 10px;
}*/
#clock img {
position: absolute;
 top: 1em;
 left: 5em;
}
#hour {
transform: rotate(0deg);
}
#minute {
transform: rotate(0deg);
}
#second {
transform: rotate(0deg);
}
p {
font-size: 32px;
color: white;
}
footer {
font-size: 24px;
color: white;
}
body {
background-color: purple;
}
